extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    div(class="container-fluid")
      div(class="mx-auto fs-1 text-primary")= title

  if user
    p Welcome #{user.email} to #{title}
    a(href="/sign-out") Logout? 
  else 
    p Welcome to #{title}
    a(href="/sign-in") Sign-in?
